.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}
.gallery-top {
    height: 600px;
    width: 100%;
}
.gallery-thumbs {
    height: 200px;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    width: 200px;
    height: 100%;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

// .slider-click {
//     height: 150px;
//     width: 150px;
//     background-color: red;
// }

// .swiper-wrapper {
//     display: flex;
//     overflow: hidden;
// }

// .swiper-portraits {
//     display: flex;
//     overflow: hidden;
//     height: 500px;
// }

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    z-index: 9999;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}
